# app
FLASK_APP=portfolio_app
SECRET_KEY='my_dev_secret_key'
# db
POSTGRES_USER=portfolio
POSTGRES_HOST=db
POSTGRES_DB=portfolio
POSTGRES_PASSWORD=portfolio
POSTGRES_PORT=5432
# YandexCloud
CAPTCHA_CLIENT_KEY=ysc1_captcha_client_key
CAPTCHA_SERVER_KEY=ysc2_captcha_server_key