!!! 5
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Антон Иванов - Python Developer | Python-разработчик
    link(rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}")
    script(src="{{ url_for('static', filename='js/htmx.min.js') }}")
  body
    block header
      include base/header
    block content
    block footer
