header
  nav.navigation
    .logo
      a(href="https://ivanovdev.ru" class="header-link")
        img(src="{{url_for ('static', filename='img/python-light.svg') }}")
        p ivanov<b>dev</b>.ru

    .nav-list
      //-ul
      //-  li.nav-item
      //-    a(href="#projects" class="header-link-item") Проекты
      //-  li.nav-item
      //-    a(href="#contacts") Контакты