header.navigation
  .logo
    a(href="#" class="header-link") PYTHON DEVELOPER
  ul.nav-list
    li.nav-item
      a(href="#" class="header-link-item") Главная
    li.nav-item
      a(href="#" class="header-link-item") Обо мне
    li.nav-item
      a(href="#" class="header-link-item") Проекты
    li.nav-item
      a(href="#" class="header-link-item") Контакты