extends "base/base.pug"
block content
  .width-wide
    .about
      .my-photo
        img(src="{{ url_for('static', filename='img/MyPhoto_1.png') }}")
      .greeting
        h2 Привет!
        h2 Я Python Backend Developer
        p Обо мне
        p C 2022 года я занимаюсь разработкой на языке программирования Python.
          br
          |У меня есть опыт работы с такими фреймворками как Django, FastAPI и Flask,
          |а также опыт написания телеграм-ботов и парсеров.
        p Информацию о наиболее значимых проектах я разместил на данном сайте,
          |  с остальными проектами можно ознакомиться в моем репозитории
          a(href="https://github.com/sibiry-k")  Github
    .projects
    .contacts